@model Chamedoon.Application.Services.Customers.ViewModel.CustomerDetailsViewModel;
@{
    Layout = "~/Views/Shared/UserPanelLayout.cshtml";
    ViewData["Title"] = "ویرایش";
}

@section UserPanelContent {
    <div class="card border-0 rounded shadow">
        <div class="card-body">
            <h5 class="text-md-start text-center">جزئیات شخصی :</h5>

            <form asp-controller="UserPanel" asp-action="Edit" method="post" enctype="multipart/form-data">
                <div class="mt-3 text-md-start text-center d-sm-flex">
                    <img id="avatarPreview"
                         src="@(string.IsNullOrEmpty(Model.ProfileImage) ? "/images/Avatars/Defult/9439682.jpg" : Model.ProfileImage)"
                         class="avatar float-md-left avatar-medium rounded-circle shadow me-md-4"
                         alt="Profile Image">

                    <div class="mt-md-4 mt-3 mt-sm-0">
                        <label for="ProfileImageFile" class="btn btn-primary mt-2">تغییر تصویر</label>
                        <input type="file" name="ProfileImageFile" id="ProfileImageFile" class="d-none">
                        <a href="javascript:void(0)" class="btn btn-outline-primary mt-2 ms-2" id="removeImage">حذف</a>
                    </div>
                </div>

                <div class="row mt-4">
                    <div class="col-md-6">
                        <div class="mb-3">
                            <label class="form-label">نام  </label>
                            <div class="form-icon position-relative">
                                <i class="mdi mdi-account align-middle icons"></i>
                                <input name="FirstName" id="first" type="text" class="form-control ps-5" value="@Model.FirstName">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="mb-3">
                            <label class="form-label">نام خانوادگی </label>
                            <div class="form-icon position-relative">
                                <i class="mdi mdi-account-tie align-middle icons"></i>
                                <input name="LastName" id="last" type="text" class="form-control ps-5" value="@Model.LastName">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="mb-3">
                            <label class="form-label">ایمیل  </label>
                            <div class="form-icon position-relative">
                                <i class="mdi mdi-email-outline align-middle icons"></i>
                                <input name="Email" id="email" type="email" class="form-control ps-5" value="@Model.User?.Email">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="mb-3">
                            <label class="form-label"> شغل</label>
                            <div class="form-icon position-relative">
                                <i class="mdi mdi-briefcase align-middle icons"></i>
                                <input name="Job" id="occupation" type="text" class="form-control ps-5" value="@Model.Job">
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="mb-3">
                            <label class="form-label">توضیحات </label>
                            <div class="form-icon position-relative">
                                <textarea name="Description" id="comments" rows="4" class="form-control ps-5">@Model.Description</textarea>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <input type="submit" id="submit" name="send" class="btn btn-primary" value="ذخیره تغییرات">
                    </div>
                </div>
            </form>
        </div>
    </div>

    <script>
        document.getElementById("ProfileImageFile").addEventListener("change", function (event) {
            const file = event.target.files[0];
            if (file) {
                const reader = new FileReader();
                reader.onload = function (e) {
                    document.getElementById("avatarPreview").src = e.target.result;
                };
                reader.readAsDataURL(file);
            }
        });
    </script>
}
