@model Chamedoon.Application.Services.Account.Users.ViewModel.UserDetails_VM;
@using Chamedoon.Application.Common.Extensions
@{
    ViewData["Title"] = "پنل کاربری " + User.Identity.Name;
}
<style>
    .userpanel {
        top: 100px;
    }
</style>
<section class="section mt-60">
    <div class="container mt-lg-3">
        <div class="row">
            <div class="col-lg-4 col-md-6 col-12 userpanel">
                <div class="card public-profile border-0 rounded shadow-md">
                    <div class="card-body" style="background: url('/img/bg/bg2.png') center center;">
                        <img src="~/images/member3.png" class="avatar avatar-large rounded-circle shadow d-block mx-auto" alt="">
                        <div class="mt-4 ">
                            <h6 class="title mb-0">@Model.UserName</h6>
                        </div>
                        <small class="text-muted h6 me-2">تاریخ عضویت : </small>
                        <small class="text-muted h6 me-2">@Model.Created</small>
                    </div>
                </div>
                <partial name="UserPanelSidebar" />
            </div>
            <div class="col-lg-8 col-12 userpanel">
                <div class="card-body card public-profile border-0 rounded shadow-md">
                    <div class="pb-4">
                        <div class="row">
                            <div class="col-md-6 mt-4">
                                <h5>جزئیات شخصی :</h5>
                                <div class="mt-4" style="background: url('/img/bg/bg2.png') center center;">
                                    <div class="d-flex align-items-center">
                                        <i data-feather="mail" class="fea icon-ex-md text-muted me-3"></i>
                                        <div class="flex-1">
                                            <h6 class="text-primary mb-0">نام کاربری :</h6>
                                            <a class="text-muted">@Model.UserName</a>
                                        </div>
                                    </div>
                                    <div class="d-flex align-items-center mt-3">
                                        <i data-feather="mail" class="fea icon-ex-md text-muted me-3"></i>
                                        <div class="flex-1">
                                            <h6 class="text-primary mb-0">ایمیل :</h6>
                                            <a href="javascript:void(0)" class="text-muted">@Model.Email</a>
                                        </div>
                                    </div>
                                    <div class="d-flex align-items-center mt-3">
                                        <i data-feather="bookmark" class="fea icon-ex-md text-muted me-3"></i>
                                        <div class="flex-1">
                                            <h6 class="text-primary mb-0">مهارت :</h6>
                                            <a href="javascript:void(0)" class="text-muted">html</a>, <a href="javascript:void(0)" class="text-muted">css</a>, <a href="javascript:void(0)" class="text-muted">js</a>, <a href="javascript:void(0)" class="text-muted">mysql</a>
                                        </div>
                                    </div>

                                    <div class="d-flex align-items-center mt-3">
                                        <i data-feather="globe" class="fea icon-ex-md text-muted me-3"></i>
                                        <div class="flex-1">
                                            <h6 class="text-primary mb-0"> وضعیت حساب :</h6>
                                            @if (Model.IsBlocked == true)
                                            {
                                                <a class="text-muted">فعال</a>
                                            }
                                            else
                                            {
                                                <a class="text-muted"> غیرفعال</a>
                                            }
                                        </div>
                                    </div>
                                    <div class="d-flex align-items-center mt-3">
                                        <i data-feather="gift" class="fea icon-ex-md text-muted me-3"></i>
                                        <div class="flex-1">
                                            <h6 class="text-primary mb-0">تاریخ تولد :</h6>
                                            <p class="text-muted mb-0">تیر 1377</p>
                                        </div>
                                    </div>

                                    <div class="d-flex align-items-center mt-3">
                                        <i data-feather="phone" class="fea icon-ex-md text-muted me-3"></i>
                                        <div class="flex-1">
                                            <h6 class="text-primary mb-0">تاریخ عضویت  :</h6>
                                            <a href="javascript:void(0)" class="text-muted">@Model.Created.ConvertMiladiToShamsi()</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section>
</section>
